<h2>Issues</h2>
<% @apps.each do |app| %>
	<%= link_to app.name, app %>
	<ul>
		<% app.issues.each do |issue| %>
			<li><%= link_to issue.subject, app_issue_path(issue.app, issue) %> (<%= pluralize(issue.voterships.count, "Vote") %>)</li>
		<% end %>
	</ul>
<% end %>
<br /><br />

<%= link_to "Home", root_path %> |
<%= link_to "Apps", apps_path %> |
<%= link_to "Issues", issues_path %>