<h2>Subject: <%= @issue.subject %></h2>
<% if @issue.is_owner?(current_user) %>
	(<%= link_to "Delete Issue", app_issue_path, method: :delete %>)
	(<%= link_to "Edit Issue", root_path %>)
<% end %>
<br /><br />
Description: <%= @issue.description %><br />
Status: <%= @issue.status %>

<% if @issue.status == "Open" && @issue.is_owner?(current_user) %>
	(<%= link_to "Close Issue", close_app_issue_path, method: :post %>)
<% elsif @issue.is_owner?(current_user) %>
	(<%= link_to "Reopen Issue", reopen_app_issue_path, method: :post %>)
<% end %>
<br /><br />

<%= pluralize(@votes.count, "vote") %>
<% if !@current_user_vote %>
	<%= link_to "Vote Up", voterships_path(:issue_id => @issue.id), method: :create %>
<% else %>
	<%= link_to "Cancel Vote", @current_user_vote, method: :delete %>
<% end %>
<br /><br />
Comments--<br />
<% @issue.comments.each do |comment| %>
<%= comment.content %> (user_id: <%= comment.user_id %>)<br />
<% end %>

<br /><br />

<%= form_for @comment do |f| %>
	<%= render 'comment_fields', :f => f %>
	<%= f.submit "Submit" %>
<% end %>
<br /><br />

<%= link_to "Home", root_path %> |
<%= link_to "Apps", apps_path %> |
<%= link_to "Issues", issues_path %>