<div class="field">
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :description %><br />
	<%= f.text_field :description %>
</div>
<div class="field">
	<%= f.label :version %><br />
	<%= f.text_field :version %>
</div>
<div class="field">
	<%= f.label :platform %><br />
	<%= select(:app, :platform, App::PLATFORM, {:include_blank => true}) %>
</div>
<br />