<h2>Apps</h2>
<ul>
	<% @apps.each do |app| %>
		<li><%= link_to app.name, app %></li>
	<% end %>
</ul>
<%= will_paginate @apps %>
<br />

<%= link_to "Home", root_path %> | 
<%= link_to "Apps", apps_path %> |
<%= link_to "Issues", issues_path %>
<% if current_user && current_user.is_publisher %>
	 | <%= link_to "New App", new_app_path %>
<% end %>