<h2><%= @app.name %></h2>

<h4>Issues:</h4>
<% @app.issues.each do |issue| %>
<li><%= link_to issue.subject, app_issue_path(issue.app, issue) %></li>
<% end %>

<br />
<%= link_to "Home", root_path %> | 
<%= link_to "Apps", apps_path %> |
<%= link_to "Issues", issues_path %> |
<%= link_to "Add Issue", new_app_issue_path(@app) %>